{% extends "layout/page.twig" %}
{% block content %}
    <h1>Character chart</h1>
    
    <div class="block">
        <h2>Attributes</h2>
        <div></div>
    </div>

    <div class="block">
        <h2>Advantages</h2>
        <div></div>
    </div>

    <div class="clear"></div>

    <div class="block">
        <h2>Abilities</h2>
        <div></div>
    </div>

    <div class="clear"></div>

{% endblock %}
