{% extends "layout/page.twig" %}
{% block content %}
    <h1>Complete character list</h1>
    <p>This is a main character list. This is above your clearance.</p>
    <p>Only traitors look for informations above their clearance. Are you a traitor, Citizen?</p>
{% endblock %}
