{% extends "layout/page.twig" %}
{% block content %}
    <h1>{{ title }}</h1>
    <p>{{ display.interface.welcome }}</p>
    <p class="note">
        Due character sheets being handed out as individual links, they cannot be linked on the website. Please use your
        access link to view your character. For all other purposes, please use the top menu.
    </p>
{% endblock %}
