{% extends "layout/page.twig" %}
{% block content %}
    <h1>Party roster</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Nationality</th>
                <th>Appearance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
