body {
    margin: auto;
    width: 1024px;
}

.clear {
    clear: both;
}

.block {
    display: block;
    float: left;
    overflow: visible;
}

.padded {
    padding: 1%;
}

div.twosplit {
    width: 48%;
}

div.twothirdsplit {
    width: 64%;
}

div.threesplit {
    width: 30%;
}

div.foursplit {
    width: 24.25%;
}

div.fivesplit {
    width: 19.5%;
}

div.sixsplit {
    width: 16.5%;
}

div.sevensplit {
    width: 14.15%;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.basic {

}

.advanced {
    font-style: italic;
}

/* jQuery classes */
.ui-tabs {
    position: relative;
    padding: .2em;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding-bottom: 5em;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    padding: 10px;
    white-space: nowrap;
    background-color: lightgray;
    border: 4px solid gray;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 20%;
}

.ui-tabs a:focus, a:hover, a {
    color: gray;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    text-decoration: none;
    text-align: center;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: white;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}

.linkbox {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    padding: 10px;
    white-space: nowrap;
    background-color: lightgray;
    border: 4px solid gray;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    width: 90%;
}

.help {
    font-style: italic;
    color: dimgray;
}

.total {
    font-weight: bold;
}

.bigdot {
    font-size: 1.5em;
    padding: 0.2em;
}
