body {
    margin: auto;
    width: 1024px;
}

.clear {
    clear: both;
}

.block {
    display: block;
    float: left;
    overflow: visible;
}

.padded {
    padding: 1%;
}

div.twosplit {
    width: 48%;
}

div.twothirdsplit {
    width: 64%;
}

div.threesplit {
    width: 33%;
}

div.foursplit {
    width: 24.25%;
}

div.fivesplit {
    width: 19.5%;
}

div.sixsplit {
    width: 16.5%;
}

div.sevensplit {
    width: 14.15%;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.basic {

}

.advanced {
    font-style: italic;
}

.linkbox li
{
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1em 1em 0 0;
    padding: 1%;
    white-space: nowrap;
    background-color:lightgray;
    border:4px solid gray;
    border-radius:15px;
    font-size: 1em;
    font-weight: bold;
    text-align:center;
    cursor: pointer;
    width: 15%;
}

.linkbox a:focus,a:hover,a
{
    color:gray;
    text-decoration: none;
    padding: 1em;
}

.help {
    font-style: italic;
    color: dimgray;
}