{% extends "layout/page.twig" %}
{% block content %}
    <h1>{{ 'FRONT_TITLE'|trans }}</h1>
    <p>{{ 'FRONT_WELCOME'|trans }}</p>
    <p class="note">{{ 'FRONT_EXPLANATION'|trans }}</p>
{% endblock %}
