<h2 class="center">Descriptions</h2>

{% if characterData.help.descriptions %}
    <p class="help">{{ characterData.help.descriptions }}</p>
{% endif %}

<div class="clear"></div>

<div class="block padded twosplit">
    <h3 class="center">Basic description</h3>
    <div>
        {{ characterData.description }}
    </div>
</div>

{% if characterData.descriptions %}
    {% for description in characterData.descriptions %}
        <div class="block padded twosplit">
            <h3 class="center">{{ description.title }}</h3>
            {{ description.text }}
        </div>
    {% endfor %}
{% endif %}
