{% extends "layout/page.twig" %}
{% block content %}
    <h1>Error has occurred</h1>
    <p>We are horribly sorry.</p>
    <p>Well, not really.</p>
    <p>There has been an error. All we know about it, follows:</p>
    <p><strong>{{ message }}</strong></p>
    <p>If you caused this error, shame on you.</p>
    <p>If you think creator of this site caused it, shame on you.</p>
    <p>Oh. Wait.</p>
    <p>Just report it to the aforementioned creator, or just try again with correct data.</p>
    <p>Thank you.</p>
    <p class="treason">This message was brought to you by The System.</p>
    <p class="treason">The note is not translated, as this would mean we expected errors.</p>
    <p class="treason">Expecting errors is a treason against The System.</p>
    <p class="treason">Praise The System. Praise IT.</p>
{% endblock %}
