<div class="menu">
    <a href="{{ app.request.basepath }}">Main</a>
    <!--
    <a href="{{ app.request.basepath }}/character">Character</a>
    <a href="{{ app.request.basepath }}/party">Party</a>
    -->
</div>
