h1 {
    color: gray;
}

.logo {
    color: saddlebrown;
    font-size: 200%;
    padding: 9px;
    font-weight: bold;
}

.menu {
    background-color: saddlebrown;
    color: white;
    font-weight: bold;
    padding: 9px;
}

.menu a {
    color: white;
    font-weight: bold;
    padding: 9px;
    text-decoration: none;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    margin: 1em auto 1em auto;
}

caption {
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 1em;
}

.note {
    font-style: italic;
}

.negative {
    color: red;
}

.note-typed {
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
}

.note-negative {
    background-color: pink;
    border: 4px solid red;
}

.note-neutral {
    background-color: lightyellow;
    border: 4px solid gold;
}

.note-positive {
    background-color: palegreen;
    border: 4px solid green;
}

.footer {
    display: none;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

div.index-box {
    padding: 0.5%;
    margin: 0.5%;
    border: 2px solid saddlebrown;
    float: left;
    min-height: 200px;
    width: 22.5%;
    cursor: pointer;
}

div.index-box-wide {
    width: 550px;
}

div.index-box-narrow {
    width: 250px;
}

div.index-box-low {
    min-height: 100px;
}

div.index-box > noscript > p {
    float: right;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}