h1 {
    color: gray;
}

.logo {
    color: saddlebrown;
    font-size: 200%;
    padding: 9px;
    font-weight: bold;
}

.menu {
    background-color: saddlebrown;
    color: white;
    font-weight: bold;
    padding: 9px;
}

.menu a {
    color: white;
    font-weight: bold;
    padding: 9px;
    text-decoration: none;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    margin: 1em auto 1em auto;
    min-width: 90%;
}

caption {
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 1em;
}

.note {
    font-style: italic;
}

.negative {
    color: red;
}
